body {
    background-image: url("../IMAGE/LOGO/aboutbackground.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    z-index: -1; 
    position: relative; 
    height: 100%; 
    width: 100%; 
    font-family: 'Raleway';
}

.call-banner {
    padding: 50px 20px;
    font-size: 1.2em;
    color: #E61F2B;
}

.contact-section {
    text-align: center;
    padding: 100px;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    padding: 10px;
    margin-bottom: 20px;
}

.contact-header .call-banner {
    position: absolute;
    left: 20px;
    bottom: -30px; 

    padding: 50px 10px;
    font-size: 1.2em;
    color: #E61F2B;
    text-align: left;
}

.contact-header h1 {
    margin: 0;
    color: #E61F2B;
    font-size: 4em;
    text-align: center;
}

.contact-section h1 {
    border: 1px solid #E61F2B;
    height: 100px;
    margin-top: 50px;
    color: #E61F2B;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px; 
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    transition: background-color 0.3s, transform 0.3s; 
    position: relative; 
    animation: pulse 2s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.contact-section h1 span {
    align-self: flex-end;
    margin-bottom: 25px;
}

.contact-section h1:hover {
    background-color: #E61F2B; 
    transform: translateX(10px);
    color: white; 
}

.contact-section h1 i {
    position: absolute;
    margin-top: 20px;
    font-size: 2em;
    color: #000;
    margin-left: 10px; 
}
.contact-section h1 i {
    position: absolute;
    margin-top: 20px;
    font-size: 2em;
    color: #000;
    margin-left: 10px; 
}


.contact-container {

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px;

}

.contact-info {
    width: 45%;
    height: 650px;
    background-color: #ffcc00 ;
    padding: 30px;
    border-radius: 0px;
    gap: 20px;
    text-align: left;
}

.contact-info h2 {
    font-style: bold;
    font-size: 44px;
    color: #E61F2B;
}

.contact-info p {
    color: #E61F2B;
    font-size: 22px;
    margin-top: 30px ;
    display: flex;
    align-items: center;
    line-height: 30px;
}

.contact-info img {
    vertical-align: middle;
    margin-right: 10px;
}

.social-icons a img {
    margin-top: 130px;
    height: 80px;
    margin-right: 10px;
}

.contact-form {
    width: 600px;
    text-align: left;
}

.contact-form h2 {
    color: #E61F2B;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input{
    font-size: 15px;
    margin: 10px 0;
    padding: 25px;
    height: 30px;
    border: 2px solid #ffcc00;
    border-radius: 0dvh;
}

.contact-form textarea {
    margin: 10px 0;
    height: 220px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #ffcc00;
    border-radius: 0px;
}

.contact-form button {
    padding: 10px;
    width: 200px;
    height: 60px;
    font-size: 16px;
    font-style: bold;
    color: white;
    background: #E61F2B; 
    transition: color 0.3s, transform 0.3s; 
}

.contact-form button:hover {
    color: white; 
    background-color: #ffcc00; 
    transform: translateY(3px); /
}


.map-location {
    text-align: center;
    padding: 30px;
    margin-top: 90px;
    position: relative;
    height: 700px;
    max-width: 1450px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    animation: fadeIn 0.5s ease; 
    background-image: url('../asset/image/mapview/mapview.png'); 
    background-size: cover; 
    background-position: center; 
    transition: transform 0.3s ease; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.contact-content .map img:hover {
    transform: scale(1.1); 
}


.map-location h2 {
    margin-top: -150px;
    margin-left: 340px;
    width: 800px;
    padding: 20px;
    border: 2px solid #E61F2B;
    font-size: 48px;
    color: #E61F2B;
    align-self: flex-end;
    margin-bottom: 25px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    animation: pulse 2s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.map-location h2:hover {
    background-color: #E61F2B;
    color: white;
    transform: translateX(10px); 
}



.branches {
    margin-top: 300px;
    text-align: center;
    padding: 20px;
}

.branches h2 {
    border: 2px solid #ff0000;
    color: #ff0000;
    width: 1000px;
    padding: 20px;
    font-size: 48px;
    margin-left: 250px;
    animation: pulse 2s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    margin-top: 400px;
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-content .footer-section {
    width: 23%;
}

.footer-content .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-content .footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-content .footer-section ul li {
    margin-bottom: 5px;
}

.footer-content .footer-section ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50px;
    width: 50px;
    text-align: center;
}

.footer-icons a img {
    height: 30px;
    margin: 0 10px;
}
