.blog-list-header {
    position: relative;
    background-image: url('../IMAGE/LOGO/communitybackground.png');
    background-size: cover;
    background-position: center;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-image {
    position: absolute;
    top: 55%;
    left: 49.81%;
    transform: translate(-50%, -50%);
    width: 100.45%;
    height: auto;
    opacity: 10;
    z-index: 1;
}

.header-content {
    position: absolute;
    z-index: 2;
    padding: 10px 90px;
    border-radius: 10px;
}

.header-content h1 {
    margin-top: 24px;
    font-weight: 800;
    font-size: 65px;
    color: #E61F2B;
    position: relative;
}

.header-content h1::before,
.header-content h1::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 75%;
    height: 6px;
    background-color: #E61F2B;
}

.header-content h1::before {
    left: -400px;
}

.header-content h1::after {
    right: -400px;
}


.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}


.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 

    width: 100%;
    max-width: 1200px; 
    box-sizing: border-box;
    flex-wrap: wrap; 
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shipping-form {
    width: 62%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: url('../IMAGE/LOGO/logo_base-community.png');
}

.shipping-form h2 {
    margin-bottom: 40px;
}



.form-groupp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-field {
    width: 48%;
    position: relative; 
}

.form-field label {
    display: block;
    margin-top: 10px;

    margin-bottom: 10px;
    font-size: 14px;
}

.form-field input,
.form-field select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    
}

.form-field select {
    height: 45px; 
    line-height: 45px; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding-right: 40px; 
}






.billing-address {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container {
    margin-right: 5px;
}

.label-container {
    white-space: nowrap;
    margin-left: 20px;
    padding: 0;
}


.billing-h3  {
    margin-top: 20px;
    margin-bottom: 20px;
}


.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-actions button {
    padding: 20px 90px;
    border: none;
    border-radius: 5px; 
    background-color: #f0a500; 
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-actions button.back {
    background-color: #fff;
    color: #f0a500;
    border: 2px solid #f0a500;
}

.form-actions button ion-icon {
    margin-left: 10px;
}

.form-actions button.back ion-icon {
    margin-left: 0;
    margin-right: 10px;
}




.order-summary {
    width: 35%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd; 
}

.item img {
    width: 80px; 
    height: 80px; 
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin: 0;
    font-size: 16px;
}

.item-details p {
    margin: 5px 0;
    font-size: 14px; 
}



.summary {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary p, .summary h2 {

    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: #E61F2B;
}

.summary-p {
    border-top: 2px solid #f0a500;
}

.summary h2 {
    color: #f0a500;
    padding-top: 10px;
    border-top: 2px solid #f0a500;
}

.summary button[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    border: none;
    background-color: #f0a500;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.summary button[type="button"] ion-icon {
    margin-left: 5px;
    font-size: 20px;
}

.back-button, .proceed-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    color: #f0a500;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.back-button {
    border: 2px solid #f0a500;
}

.back-button ion-icon {
    margin-right: 5px;
}

.proceed-button ion-icon {
    margin-left: 5px;
}

.proceed-button:hover {
    background-color: #d08e00;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}





@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .shipping-form, .order-summary {
        width: 100%;
        margin-right: 0;
    }

    .form-groupp {
        flex-direction: column;
    }

    .form-field {
        width: 100%;
    }

    .form-actions {
        flex-direction: column;
        width: 100%;
    }

    .form-actions button {
        width: 100%;
        margin-bottom: 10px;
    }
}